<div class="bg-gray-100 h-screen p-4 w-64">
    <div class="text-gray-700 font-bold mb-4">Mes Raccourcis</div>
    <p>Nombre total d'URL dans la base de données : {{ urlCount }}</p>
    <ul>
        <div class="w-full p-2 border border-gray-300 rounded">
            <li class="mb-2">Raccourci n°1</li>
        </div>
        <br/>
        <div class="w-full p-2 border border-gray-300 rounded">
            <li class="mb-2">Raccourci n°2</li>
        </div>
        <br/>
        <div class="w-full p-2 border border-gray-300 rounded">
            <li class="mb-2">Raccourci n°3</li>
        </div>
        <br/>
        <div class="w-full p-2 border border-gray-300 rounded">
            <li class="mb-2">Raccourci n°4</li>
        </div>
    </ul>
  </div>